@media screen and (max-width: 549px) {
  .cta__container {
    padding-right: 0px;
    padding-left: 0px;
  }

  .cta {
    &__item {
      background-color: #1e1e1e;
      flex-direction: column;

      padding-right: 50px;
      padding-left: 50px;
      border-radius: 0px;
    }

    &__desc {
      text-align: center;
    }

    &__second-headline {
      text-align: center;
    }

    &__button {
      text-align: center;
    }

    &__image {
      width: 100%;
      max-width: 449px;

      margin-top: 100px;

      &--desktop {
        display: none;
      }
    }
  }
}

@media screen and (min-width: 550px) {
  .cta__image--mobile {
    display: none;
  }
}
