@media screen and (max-width: 549px) {
  .partners {
    &__list {
      width: 286px;
      flex-wrap: wrap;
      justify-content: center;

      margin: 0px auto;
      margin-bottom: 50px;
    }

    &__item {
      flex-basis: 33.333%;

      &:not(:last-child) {
        margin-right: 0px;
      }

      &:nth-child(-n + 3) {
        height: 70px;
      }
    }
  }
}
