// Features
.features__container {
  width: 1210px;

  padding-top: 160px;
  padding-bottom: 160px;
}

.features {
  &__second-headline {
    padding: 10px;
  }
}

.features {
  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
  }

  &__images {
    position: relative;
    width: 752px;
    height: 759px;
  }

  &__image:last-child {
    position: absolute;
    right: 0px;
    bottom: 0;
  }
}

.features {
  &__list {
    padding: 20px;
    margin-left: 30px;
  }

  &__item {
    width: 269px;

    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  &__title {
    display: flex;
    align-items: flex-start;
    padding: 10px 10px 10px 0px;

    &:before {
      display: block;
      width: 32px;
      height: 32px;
      margin-right: 10px;
      margin-top: 5px;
      content: '';

      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  &__item:last-child &__title::before {
    width: 41px;
    margin-top: 0px;
  }

  $nums: '1', '2', '3';
  @each $num in $nums {
    &__item:nth-of-type(#{$num}) &__title::before {
      background-image: url(/images/features/features_icon#{$num}.svg);
    }
  }

  &__paragraphe {
    height: 116px;
    padding: 10px;
  }
}
