// General
.button {
  display: inline-block;
  padding: 13.5px 46px;

  background-color: transparent;
  border: 1px solid #ffffff;

  &:hover {
    cursor: pointer;
  }
}

.headline {
  width: 730px;
  padding: 10px;
  margin-bottom: 37px;
  display: inline-block;
}

.sub-heading {
  width: 600px;
  padding: 10px;
  display: inline-block;
}

//Site nav
.site-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 120px;
  margin-bottom: 95px;
}

.site-nav__link {
  &:not(:last-child) {
    margin-right: 30px;
  }
}

// Header text
.header__sub-heading {
  margin-bottom: 85px;
}

// Header-buttons

.button--color {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
}

.header__button {
  padding: 20px 40px;

  &:first-child {
    margin-right: 35px;
  }
}

// Header-images
.header {
  &__content {
    position: relative;
    padding-top: 35px;
    padding-bottom: 150px;
  }

  &__image {
    background-image: url(/images/screens.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    width: 100%;
    height: 841px;
  }

  &__gradient {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 550px;

    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #0e0e0e 66.15%);
  }
}
