:root {
  --dark-bg: rgba(24, 24, 24, 1);
  --light-bg: rgba(255, 255, 255, 1);

  --accent-color: rgba(68, 82, 254, 1);

  --light-text: rgba(255, 255, 255, 1);
  --second-text: #5c5c5c;
  --dark-text: #000000;
}
